@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Calamity";
  src: url("/fonts/calamity_bold.otf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/cursor.png"),auto;
  height: 100vh;
  /* border: 5px dashed red; */
  box-sizing: border-box;
}

.button__cat {
  cursor: url("/cursors/cat_cursor.png"),auto;
}

.button__lantern {
  cursor: url("/cursors/lantern_cursor.png"), auto
}

.button__beer {
  cursor: url("/cursors/barrel_cursor.png"), auto
}

.button__music__on {
  cursor: url("/cursors/music_on_cursor.png"), auto
}

.button__music__off {
  cursor: url("/cursors/music_off_cursor.png"), auto
}

.button__carpet__on {
  cursor: url("/cursors/toby_fox.png"), auto
}

.button__carpet__off {
  cursor: url("/cursors/temmie.png"), auto
}

.button__ralsei {
  cursor: url("/cursors/blunt_ralsei.png"), auto
}

.button__door {
  cursor: url("/cursors/door.png"), auto
}

.shrine_text {
  color: white;
  animation-duration: 2s;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #67f6a5, 0 0 20px #67f6a5, 0 0 30px #67f6a5, 0 0 40px #59d08d, 0 0 50px #bbffd8
  }
  
  to {
    text-shadow: 0 0 17px #67f6a5, 0 0 27px #67f6a5, 0 0 37px #67f6a5, 0 0 47px #59d08d, 0 0 57px #bbffd8
  }
}